manifest {
    mainScript = 'precy2.nf'
}

k8s {
   namespace = 'juric-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   storageClaimName = 'gmx-pvc'
   storageMountPath = '/mnt/gmx-data'
   launchDir = '/mnt/gmx-data'
   //workDir = '/home/boris/GMX-k8/tmp'
}

executor {
  queueSize = 15
}

process {
   container = "ljocha/gromacs:2021-2"
   memory = '500M'
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false]]
}
