manifest {
    mainScript = 'precy2.nf'
}

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
    temp = 'auto'
    mountFlags = "Z"
}

k8s {
   namespace = 'juric-ns'
   runAsUser = 1000
   computeResourceType = 'Job'
   storageClaimName = 'gmx-pvc'
   storageMountPath = '/mnt/gmx-data'
   launchDir = '/mnt/gmx-data'
}

executor {
  queueSize = 15
}

process {
   container = "cerit.io/borou/nextflow/mpi-mdrun:v0.3"
   memory = '500M'
   executor = 'k8s'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false]]
   withName: mdrun {
   	pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], 
          [automountServiceAccountToken:false], 
          [mpiJobWorkers: 15], 
          [sshAuthMountPath: '/home/user/.ssh'], 
          [computeResourceType: 'MPIJob']]
   }
}

